{% extends "_base.html" %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
      <!-- <h3>Reviews</h3>
      <ul>
        {% for review in book.reviews.all %}
        <li>{{ review.review }} ({{ review.author }})</li>
        {% endfor %}
      </ul> -->
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 20px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .book-image img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      width: 50%;
    }

    .book-info {
      margin-top: 20px;
    }

    .book-info h1 {
      font-size: 24px;
      margin: 0 0 10px;
      color: #333;
    }

    .book-info h2 {
      font-size: 18px;
      margin: 0;
      color: #666;
    }

    .book-info p {
      font-size: 16px;
      margin: 10px 0;
    }

    .book-description {
      margin-top: 20px;
    }

    .book-description h3 {
      font-size: 20px;
      margin: 0 0 10px;
      color: #333;
    }

    .book-description p {
      font-size: 16px;
      line-height: 1.5;
    }

    .buy-now {
      margin-top: 20px;
      text-align: center;
    }

    .buy-now button {
      padding: 10px 20px;
      font-size: 18px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .buy-now button:hover {
      background-color: #0056b3;
    }
  </style>
  <div class="container">
    <div class="book-image">
      {% if book.cover %}
        <img class="bookcover" src="{{ book.cover.url}}" alt="{{ book.title }}">
      {% endif %}
    </div>
    <div class="book-info">
      <h1 style="color: #333;">{{ book.title }}</h1>
      <h2 style="color: #666;">Author: {{ book.author }}</h2>
      <p>Price: {{ book.price }}$</p>
    </div>
    <div class="book-description">
      <h3 style="color: #333;">Description</h3>
      <p>{{ book.description }}</p>
    </div>
    <div class="buy-now">
      <a href="{% url 'books:basket_add' book.id %}"><button>Add to Basket</button></a>
    </div>
  </div>
{% endblock content %}

